p= @question.title
h3 Вопрос:
p= @question.body

.answers
  = render 'answers/answers'

= render 'answers/new', question: @question, answer: @answer if user_signed_in?

p = link_to 'Delete question', question_path, method: :delete if current_user && current_user.id == @question.user_id